*{
    margin: 0;
    box-sizing:  border-box;
}



body {
    font-family: monospace;
    font-size: 15px;
    padding: 50px 30px 0px;
}



.header {
    background-color: goldenrod;
    height: 12%;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}


.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}



.nav-link {
    color: white;
    text-decoration: none;
}



.logo {
    color: crimson;
    font-size: 30px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    line-height: 90px;
}



.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}



.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 90px;
    width: max-content;
}



.nav-menu-link {
    padding: 8px 12px;
    border-radius: 10px;
}



.nav-menu-link:hover {
    font-size: 22px;
    background-color: darkred;
        transition: 0.7s;
}



#contenido {
    background-color: antiquewhite;
    position: fixed;
    top: 12%;
    bottom: 3%;
    left: 0;
    width: 100%;
    overflow: auto;
    padding-left: 15px;
}



.footer {
    background-color: black;
    text-align: center;
    color: white;
    height: 3%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
